<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Professor</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Nome: <input type="text" name="nome" 
            placeholder="Digite seu nome!"><br>
        Turma: <input type="text" name="turma" 
            placeholder="Digite a turma!"><br>
        Nível: <input type="text" name="nivel" 
            placeholder="Digite o nivel!"><br>
        Foto: <input type="file" name="foto"><br>
        Trabalho: <input type="file" name="trabalho"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>